// @import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,300,200,700,200italic,400italic,700italic);

// bower:scss
@import "../../bower_components/bootstrap/less/bootstrap.less";
@import "../../bower_components/fontawesome/less/font-awesome.less";
// endbower

// override the bootstraps' variables.
@brand-primary: #035CA6;
@brand-success: #36d796;
@state-success-text: @brand-success;

@body-bg: #000;
// @font-family-sans-serif: "Open Sans Condensed", sans-serif;
@font-family-sans-serif: 'Titillium Web', sans-serif;
@icon-font-path:     '../bower_components/bootstrap/fonts/';

// @border-radius-base: 2px;
// @navbar-default-bg:    @body-bg;
// @navbar-default-color: #fff;
// @navbar-default-link-color: #fff;
@navbar-height:      32px;

// overide the fontawesomes' variables.
@fa-font-path: "../bower_components/fontawesome/fonts/";

[draggable] {
 user-select: none;
 -khtml-user-drag: element;
 -webkit-user-drag: element;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  // padding-top: 70px;
  /* padding-bottom: 20px; */
  // background-image: url(/images/dark_Tire/dark_Tire.png);
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  /* padding-left: 15px; */
  /* padding-right: 15px; */
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

.sidebar {
  padding: 15px 0 0 0;
  .list-group-item {
    color: #fff;
    background-color: transparent;
    border-radius: 0px !important;
    border: none !important;
  }
}

.main {
  background-image: url(/images/dark_Tire/dark_Tire.png);
  .navbar {
    .navbar-center {
      position: absolute;
      left: 0;
      width: 100%;
      margin: auto;
      text-align: center;
      height: 100%;
    }
  }
}

@task-panel-bg: rgba(220, 220, 220, .20);
#tasks, #task-form-block {
  .summary {
    color: #fff;
    #ratio {
      margin-right: 12px;
    }
    .progress {
      height: 6px;
    }
  }
  .panel {
    color: #fff;
    background-color: @task-panel-bg;
    border: solid 1px #000;
    border-radius: 2px;
    margin-bottom: 8px;
    padding: 0;
    a {
      // color: #fff;
    }
    .panel-body {
      padding: 8px
    }
    .panel-footer {
      // color: #fff;
      background-color: transparent;
      border-top: none;
      padding: 8px
    }
    .status {
      padding-right: 0;
      cursor: pointer;
    }
    .item {
      padding-left: 0;
      .item-text {
        margin-left: 8px;
      }
    }
    .arrow {
      cursor: pointer;
    }
    .trash {
      cursor: pointer;
    }
    .add-task {
      cursor: pointer;
    }
  }
}

@agenda-color:   #777;
@event-panel-bg: @task-panel-bg;
#agenda {
    position: relative;
    color: @agenda-color;

    .event-item {
        cursor: move;
        display: block;
        resize: vertical;
        overflow: auto;
        position: absolute;
        top: 0;
    }

    .panel {
        color: #fff;
        background-color: @event-panel-bg;
        padding: 0;
        .panel-body {
            padding: 4px 8px;
        }
    }

    .table {
        td {
            // color: #fff;
            padding: 0;
            height:     30px;
            min-height: 30px;
            &.harf-hour {
              border-top: dashed 1px @agenda-color;
            }
        }
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* .container { */
  /*   max-width: 730px; */
  /* } */

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
