nav.navbar.navbar-inverse.navbar-static-top
  .container-fluid
    p.navbar-center.navbar-text
      | 15,Feb
    ul.nav.navbar-nav.navbar-left
      li
        a(href='#')
          i.fa.fa-lg.fa-edit
    ul.nav.navbar-nav.navbar-right
