#tasks.col-md-6
  each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
    .panel.panel-default.task-panel(id='task' + val)
      .panel-body
        .row
          .col-sm-1.status
            i.fa.fa-lg.fa-square-o
          .col-sm-8.item
            span.label.label-default project
            span.item-text= 'task' + val
          .col-sm-2
             | 2015-01-15
          .col-sm-1.arrow
            i.fa.fa-lg.fa-angle-right
      .panel-footer(style='display:none')
        .row
          .col-sm-11
          .col-sm-1.trash
            i.fa.fa-remove
