
extends layouts/default

block content
  .row.clearfix
    .col-md-2.sidebar
      include _sidebar
    .col-md-10.main
      .row
        include _tasks
        include _agenda
        #calendar.col-md-1
