
extends layouts/default

block content
  .row
    .col-md-1
    .col-md-5
      #tasks
        each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
          a(href='#')
            .panel.panel-default(id='task' + val)
              .panel-body
                .row
                  .col-md-1
                    i.fa.fa-lg.fa-square-o
                  .col-md-7= 'task' + val
                  .col-md-2
                    | 2015-01-15
                  .col-md-2
                     span.label.label-primary project
                .row
                  .col-md-12

    .col-md-6
      #agenda
        table.table
          tbody
            tr
              td
              td
            - var hours = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23];
            each val in hours
              tr
                td(rowspan=2, width='32')= ('00' + val).slice(-2)
                td
              tr
                td
              